<app-menu></app-menu>
<h2>
    Actualizar ---------
 </h2>
 
 <form (ngSubmit) = "onSubmit()" action="POST">
    
<!--
     <div class="form-group">
         <label>Nombre</label>
         <input type="text" class="form-control" id="nombre" [(ngModel)] = "tarea.nombre" name="nombre">
     </div>

     <div class="form-group">
        <label>Fecha de fin</label>
        <input type="date" class="form-control" id="cantidad" [(ngModel)] = "tarea.fechaFin" name="fecha">
    </div>
--> 
    
    <br>
    
   

     <br>
     <button class="btn btn-success" type="submit">Enviar</button>
 </form>
 {{mensaje}}