<app-menu></app-menu>
<h2>Lista de --------</h2>

<table class="table table-striped">
    <thead>
        <th>Id</th>
        <th>Nombre</th>
        <th>Fecha de Creacion</th>
        <th>Fecha de Fin</th>
        <th>Estado</th>

    </thead>
    
    <tbody>
        <tr>
        <!--
        <tr *ngFor="let tarea of tareas">
            <td>{{tarea.tarea_id}}</td>
            <td>{{tarea.nombre}}</td>
            <td>{{tarea.fechaCreacion}}</td>
            <td>{{tarea.fechaFin}}</td>
            <td>{{tarea.estado}}</td>
        -->
            <!--(click)="actualizarProducto(producto.id)"
            <td *ngIf="tarea.estado == 'Pausado'" ><button  (click)="ejecutar(tarea)"  class=" btn btn-info">Ejecutar</button></td>
            <td *ngIf="tarea.estado == 'Ejecutandose'" ><button (click)="pausar(tarea)"  class="btn btn-danger">Pausar</button></td>
            <td *ngIf="tarea.estado != 'Cancelado'"><button (click)="cancelar(tarea)" class="btn btn-info">Cancelar</button></td>
            -->
        </tr>
        
    </tbody>

</table>
